@model EventEaseManagementSystem.Models.Customer

<h1>Edit</h1>

<form method="post">
    <div class="container">
        <div class="form-group">
            <label asp-for="CustomerId" class="control-label">CustomerId</label>
            <input asp-for="CustomerId" class="form-control" readonly />
        </div>

        <div class="form-group">
            <input asp-for="CustomerId" class="form-control" hidden />
        </div>

        <div class="form-group">
            <label asp-for="FirstName" class="control-label">First Name</label>
            <input asp-for="FirstName" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="LastName" class="control-label">Last Name</label>
            <input asp-for="LastName" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="ProfilePicture" class="control-label">Profile Picture</label>
            <input asp-for="ProfilePicture" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Email" class="control-label">Email</label>
            <input asp-for="Email" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="PhoneNumber" class="control-label">Phone Number</label>
            <input asp-for="PhoneNumber" class="form-control" />
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary mt-3">Update Customer</button>
            <a class="btn btn-warning" asp-action="Index">Back To List</a>
        </div>
    </div>
</form>